<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.BookMapper">
    <resultMap id="bookmap" type="book">
        <id property="bookid" column="bookid"></id>
        <result property="productName" column="productName"></result>
        <result property="productUnit" column="productUnit"></result>
        <result property="proId" column="proId"></result>
        <result property="payed" column="payed"></result>
        <!--<result column="borrow" property="borrow"></result>-->

        <association property="borrow" javaType="Borrow">
            <id property="id" column="bobid"></id>
        </association>
    </resultMap>

    <select id="getBookList" resultType="book" parameterType="book">
        select * from book
    </select>

    <insert id="getBookAdd" parameterType="book">
        insert into book(bookid,productName,productUnit,proId,payed) values (#{bookid},#{productName},#{productUnit},#{proId},#{payed})
    </insert>

    <select id="getBookByid" parameterType="book" resultType="book">
        select * from book where bookid=#{bookid}
    </select>
    <delete id="deleteByid" parameterType="book">
        delete from book where bookid=#{bookid}
    </delete>

    <!--<insert id="Register" parameterType="book">-->
        <!--insert into book values(#{id}=null ,#{productName},#{productUnit},#{proId},#{payed})-->
    <!--</insert>-->
    <update id="updateBook" parameterType="book">
        update book set productName=#{productName},productUnit=#{productUnit},proId=#{proId},payed=#{payed} where bookid=#{bookid}
    </update>


    <insert id="borrow" parameterType="Borrow" >
    insert into borrow values(null ,#{user_id},#{bookid})
    </insert>

    <!--<select id="borrowBookList" resultMap="book" >-->
    <!--select b.bookid,b.productName,b.productUnit,b.proId,b.payed,bo.id as bobid from book as b left join borrow as bo on b.bookid=bo.bookid-->
    <!--</select>-->
    <!--<update id="lendUpdate" parameterType="book">-->
    <!--update book  set lend="是" where id=#{id}-->
<!--</update>-->


</mapper>