<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">

    <resultMap id="usermap" type="user">
        <id property="user_id" column="id"></id>
        <result property="user_name" column="name"></result>
        <result property="user_age" column="age"></result>
        <result property="user_major" column="major"></result>
        <result property="user_password" column="password"></result>
        <result property="address" column="address"></result>
        <result property="headpath" column="headpath"></result>
    </resultMap>


    <select id="search" parameterType="user" resultMap="usermap">
        <include refid="s"/>
        <where>
            <if test="user_name!=null and user_name!=''">
                and name like '%${user_name}%'
            </if>

            <if test="user_major!=null and user_major!=''">
                and major = #{user_major}
            </if>
        </where>
    </select>

    <select id="login" parameterType="user" resultMap="usermap">
        select * from user where name=#{user_name} and password=#{user_password}
    </select>
    <select id="getUserList" resultMap="usermap">
        select * from user
    </select>
    <select id="getUserByid" parameterType="java.lang.Integer" resultMap="usermap">
        <include refid="s"/>
        where id=#{user_id}
    </select>

    <select id="checkUserName" parameterType="string" resultType="integer">
        select count(*) from user where name=#{name}
    </select>

    <update id="updatehead" parameterType="user">
            update user set headpath=#{headpath} where id=#{user_id}
</update>

    <select id="searchByWhere" parameterType="user" resultMap="usermap">
        <include refid="s"/>
        <where>
            <if test="user_name!=null and user_name!=''">
                and name like "%${user_name}%"
            </if>
            <if test="user_major!=null and user_major!=''">
                and major =#{user_major}
            </if>
        </where>
    </select>

    <sql id="s">
            select * from user
    </sql>
</mapper>