<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmvcday02:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springmvcday02_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmvcday02" />
        </element>
        <element id="directory" name="lib">
          <element id="file-copy" path="E:/hukun/java_web/web/hukun/springmvc/springmvc/springmvc-01/jar包/springmvc和mybatis整合/asm-3.3.1.jar" />
          <element id="file-copy" path="E:/hukun/java_web/web/hukun/springmvc/springmvc/springmvc-01/jar包/springmvc和mybatis整合/aspectjweaver-1.6.11.jar" />
          <element id="file-copy" path="E:/hukun/java_web/web/hukun/springmvc/springmvc/springmvc-01/jar包/springmvc和mybatis整合/cglib-2.2.2.jar" />
          <element id="file-copy" path="E:/hukun/java_web/web/hukun/springmvc/springmvc/springmvc-01/jar包/springmvc和mybatis整合/commons-dbcp-1.2.2.jar" />
          <element id="file-copy" path="E:/hukun/java_web/web/hukun/springmvc/springmvc/springmvc-01/jar包/springmvc和mybatis整合/commons-logging-1.1.1.jar" />
          <element id="file-copy" path="E:/hukun/java_web/web/hukun/springmvc/springmvc/springmvc-01/jar包/springmvc和mybatis整合/commons-pool-1.3.jar" />
          <element id="file-copy" path="E:/hukun/java_web/web/hukun/springmvc/springmvc/springmvc-01/jar包/springmvc和mybatis整合/javassist-3.17.1-GA.jar" />
          <element id="file-copy" path="E:/hukun/java_web/web/hukun/springmvc/springmvc/springmvc-01/jar包/springmvc和mybatis整合/jstl-1.2.jar" />
          <element id="file-copy" path="E:/hukun/java_web/web/hukun/springmvc/springmvc/springmvc-01/jar包/springmvc和mybatis整合/junit-4.9.jar" />
          <element id="file-copy" path="E:/hukun/java_web/web/hukun/springmvc/springmvc/springmvc-01/jar包/springmvc和mybatis整合/log4j-1.2.17.jar" />
          <element id="file-copy" path="E:/hukun/java_web/web/hukun/springmvc/springmvc/springmvc-01/jar包/springmvc和mybatis整合/log4j-api-2.0-rc1.jar" />
          <element id="file-copy" path="E:/hukun/java_web/web/hukun/springmvc/springmvc/springmvc-01/jar包/springmvc和mybatis整合/log4j-core-2.0-rc1.jar" />
          <element id="file-copy" path="E:/hukun/java_web/web/hukun/springmvc/springmvc/springmvc-01/jar包/springmvc和mybatis整合/mybatis-3.2.7.jar" />
          <element id="file-copy" path="E:/hukun/java_web/web/hukun/springmvc/springmvc/springmvc-01/jar包/springmvc和mybatis整合/mybatis-spring-1.2.2.jar" />
          <element id="file-copy" path="E:/hukun/java_web/web/hukun/springmvc/springmvc/springmvc-01/jar包/springmvc和mybatis整合/mysql-connector-java-5.1.7-bin.jar" />
          <element id="file-copy" path="E:/hukun/java_web/web/hukun/springmvc/springmvc/springmvc-01/jar包/springmvc和mybatis整合/slf4j-api-1.7.5.jar" />
          <element id="file-copy" path="E:/hukun/java_web/web/hukun/springmvc/springmvc/springmvc-01/jar包/springmvc和mybatis整合/slf4j-log4j12-1.7.5.jar" />
          <element id="file-copy" path="E:/hukun/java_web/web/hukun/springmvc/springmvc/springmvc-01/jar包/springmvc和mybatis整合/spring-aop-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="E:/hukun/java_web/web/hukun/springmvc/springmvc/springmvc-01/jar包/springmvc和mybatis整合/spring-aspects-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="E:/hukun/java_web/web/hukun/springmvc/springmvc/springmvc-01/jar包/springmvc和mybatis整合/spring-beans-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="E:/hukun/java_web/web/hukun/springmvc/springmvc/springmvc-01/jar包/springmvc和mybatis整合/spring-context-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="E:/hukun/java_web/web/hukun/springmvc/springmvc/springmvc-01/jar包/springmvc和mybatis整合/spring-context-support-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="E:/hukun/java_web/web/hukun/springmvc/springmvc/springmvc-01/jar包/springmvc和mybatis整合/spring-core-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="E:/hukun/java_web/web/hukun/springmvc/springmvc/springmvc-01/jar包/springmvc和mybatis整合/spring-expression-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="E:/hukun/java_web/web/hukun/springmvc/springmvc/springmvc-01/jar包/springmvc和mybatis整合/spring-jdbc-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="E:/hukun/java_web/web/hukun/springmvc/springmvc/springmvc-01/jar包/springmvc和mybatis整合/spring-jms-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="E:/hukun/java_web/web/hukun/springmvc/springmvc/springmvc-01/jar包/springmvc和mybatis整合/spring-messaging-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="E:/hukun/java_web/web/hukun/springmvc/springmvc/springmvc-01/jar包/springmvc和mybatis整合/spring-tx-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="E:/hukun/java_web/web/hukun/springmvc/springmvc/springmvc-01/jar包/springmvc和mybatis整合/spring-web-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="E:/hukun/java_web/web/hukun/springmvc/springmvc/springmvc-01/jar包/springmvc和mybatis整合/spring-webmvc-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="E:/hukun/java_web/web/hukun/springmvc/springmvc/springmvc-01/jar包/文件上传/commons-fileupload-1.2.2.jar" />
          <element id="file-copy" path="E:/hukun/java_web/web/hukun/springmvc/springmvc/springmvc-01/jar包/文件上传/commons-io-2.4.jar" />
          <element id="file-copy" path="E:/hukun/java_web/web/hukun/springmvc/springmvc/springmvc-01/jar包/分页/jsqlparser-0.9.5.jar" />
          <element id="file-copy" path="E:/hukun/java_web/web/hukun/springmvc/springmvc/springmvc-01/jar包/分页/pagehelper-5.1.2.jar" />
          <element id="file-copy" path="E:/hukun/java_web/web/hukun/springmvc/springmvc/springmvc-01/jar包/springmvc加入json支持/jackson-annotations-2.4.0.jar" />
          <element id="file-copy" path="E:/hukun/java_web/web/hukun/springmvc/springmvc/springmvc-01/jar包/springmvc加入json支持/jackson-core-2.4.2.jar" />
          <element id="file-copy" path="E:/hukun/java_web/web/hukun/springmvc/springmvc/springmvc-01/jar包/springmvc加入json支持/jackson-databind-2.4.2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/aopalliance-1.0(1).jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/asm-3.3.1.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/aspectjweaver-1.6.11.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/cglib-2.2.2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/commons-beanutils-1.9.3.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/commons-collections-3.2.1.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/commons-dbcp-1.2.2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/commons-fileupload-1.2.2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/commons-io-2.4.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/commons-lang-2.6.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/commons-logging-1.1.1.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/commons-pool-1.3.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/ezmorph-1.0.6.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/jackson-annotations-2.4.0.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/jackson-core-2.4.2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/jackson-databind-2.4.2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/javassist-3.17.1-GA.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/json-20070829.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/json-lib-2.1-jdk13.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/jsqlparser-0.9.5.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/jstl-1.2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/junit-4.9.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/log4j-1.2.17.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/log4j-api-2.0-rc1.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/log4j-core-2.0-rc1.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/mybatis-3.2.7.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/mybatis-spring-1.2.2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/mysql-connector-java-5.1.7-bin.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/pagehelper-5.1.2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/slf4j-api-1.7.5.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/slf4j-log4j12-1.7.5.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/spring-aop-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/spring-aspects-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/spring-beans-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/spring-context-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/spring-context-support-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/spring-core-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/spring-expression-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/spring-jdbc-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/spring-jms-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/spring-messaging-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/spring-tx-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/spring-web-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/spring-webmvc-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../jar/standard.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/aopalliance-1.0(1).jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/asm-3.3.1.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/aspectjweaver-1.6.11.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/cglib-2.2.2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/commons-beanutils-1.9.3.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/commons-collections-3.2.1.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/commons-dbcp-1.2.2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/commons-fileupload-1.2.2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/commons-io-2.4.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/commons-lang-2.6.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/commons-logging-1.1.1.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/commons-pool-1.3.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/ezmorph-1.0.6.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/jackson-annotations-2.4.0.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/jackson-core-2.4.2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/jackson-databind-2.4.2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/javassist-3.17.1-GA.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/json-20070829.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/json-lib-2.1-jdk13.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/jsqlparser-0.9.5.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/jstl-1.2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/junit-4.9.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/log4j-1.2.17.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/log4j-api-2.0-rc1.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/log4j-core-2.0-rc1.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/mybatis-3.2.7.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/mybatis-spring-1.2.2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/mysql-connector-java-5.1.7-bin.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/pagehelper-5.1.2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/slf4j-api-1.7.5.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/slf4j-log4j12-1.7.5.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/spring-aop-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/spring-aspects-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/spring-beans-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/spring-context-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/spring-context-support-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/spring-core-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/spring-expression-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/spring-jdbc-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/spring-jms-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/spring-messaging-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/spring-tx-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/spring-web-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/spring-webmvc-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../1121/jar/standard.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/aopalliance-1.0(1).jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/asm-3.3.1.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/aspectjweaver-1.6.11.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/cglib-2.2.2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/commons-beanutils-1.9.3.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/commons-collections-3.2.1.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/commons-dbcp-1.2.2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/commons-fileupload-1.2.2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/commons-io-2.4.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/commons-lang-2.6.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/commons-logging-1.1.1.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/commons-pool-1.3.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/ezmorph-1.0.6.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/jackson-annotations-2.4.0.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/jackson-core-2.4.2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/jackson-databind-2.4.2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/javassist-3.17.1-GA.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/json-20070829.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/json-lib-2.1-jdk13.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/jsqlparser-0.9.5.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/jstl-1.2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/junit-4.9.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/log4j-1.2.17.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/log4j-api-2.0-rc1.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/log4j-core-2.0-rc1.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/mybatis-3.2.7.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/mybatis-spring-1.2.2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/mysql-connector-java-5.1.7-bin.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/pagehelper-5.1.2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/slf4j-api-1.7.5.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/slf4j-log4j12-1.7.5.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/spring-aop-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/spring-aspects-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/spring-beans-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/spring-context-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/spring-context-support-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/spring-core-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/spring-expression-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/spring-jdbc-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/spring-jms-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/spring-messaging-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/spring-tx-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/spring-web-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/spring-webmvc-4.1.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../jar/standard.jar" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="springmvcday02/web/Web" />
    </root>
  </artifact>
</component>